<ion-content>
  <app-header></app-header>

  <div class="content">
    
    <div class="contenidoBienvenida">

      <p id="bienvenida">¡ Bienvenido<br>NOMBRE USUARIO !</p>
      
    </div>

    <div class="contenidoModulo">

      <div class="contenidoIzquierda imagen">

        <img id="imagenModulo" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        
      </div>
      
      <div class="contenidoDerecha">
        
        <p id="nombreModulo">Nombre Modulo 1</p>
        <p id="descripcionModulo">Descripcion del modulo</p>
        
      </div>

    </div>

    <div class="contenidoModulo">

      <div class="contenidoIzquierda">

        <p id="nombreModulo">Nombre Modulo 2</p>
        <p id="descripcionModulo">Descripcion del modulo</p>
        
      </div>

      <div class="contenidoDerecha imagen">
        
        <img id="imagenModulo" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        
      </div>

    </div>

    <div class="contenidoModulo">

      <div class="contenidoIzquierda imagen">

        <img id="imagenModulo" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        
      </div>
      
      <div class="contenidoDerecha">
        
        <p id="nombreModulo">Nombre Modulo 3</p>
        <p id="descripcionModulo">Descripcion del modulo</p>
        
      </div>

    </div>

    <div class="contenidoModulo">

      <div class="contenidoIzquierda">

        <p id="nombreModulo">Nombre Modulo 4</p>
        <p id="descripcionModulo">Descripcion del modulo</p>
        
      </div>

      <div class="contenidoDerecha imagen">
        
        <img id="imagenModulo" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        
      </div>

    </div>

  </div>

</ion-content>
