<ion-header>
  
  <div class="toolbarPrincipal">
  
    <p id="titulo" (click)="irRuta('inicio')">MusiConnect</p>
    <img alt="NOMBRE USUARIO" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="usuarioAvatar" (click)="cambiarEstadoSubmenu()"/>

    <div id="submenuUsuario" [ngClass]="{'mostrar': estadoSubmenuUsuario, 'ocultar': !estadoSubmenuUsuario}">

      <ion-list lines="full" class="listaOpcionesUsuario">
        <ion-list-header>
          <p>NOMBRE USUARIO</p>
        </ion-list-header>
        <ion-item button (click)="irRuta('perfil')">Perfil</ion-item>
        <ion-item button (click)="irRuta('home')">Cerrar Sesion</ion-item>
      </ion-list>

    </div>

  </div>

  <div class="toolbarMenu">
  
    <ion-row class="menu">
      <ng-content *ngFor="let opcion of opcionesDelMenu">
        <ion-col (click)="irRuta(opcion.ruta)" id="opcionMenu">
          {{opcion.titulo}}
        </ion-col>
      </ng-content>
    </ion-row>

    <ion-icon name="caret-down" id="iconoDown"></ion-icon>
  
  </div>

</ion-header>