$color-primario: #433878;
$color-secundario: #E4B1F0;

ion-header {

  position: absolute;
  height: 100%;

}

.toolbarPrincipal {

  justify-content: space-between;
  background: $color-primario;
  position: relative;
  display: flex;
  height: 100%;
  z-index: 2;
  
}

.toolbarMenu {
  
  background: $color-secundario;
  transition: bottom 0.3s ease;
  position: relative;
  bottom: 100%;
  height: 90%;
  z-index: 1;

}

.toolbarPrincipal, .toolbarMenu{

  align-items: center;
  color: white;
  display: flex;

}

.toolbarPrincipal:hover + .toolbarMenu, .toolbarMenu:hover {

  bottom: 0%;

  #iconoDown {

    transition: transform 0.3s ease;
    transform: rotate(180deg);

  }

}

#titulo {

  font-weight: bolder;
  position: relative;
  font-size: 5vh;
  margin: 0%;
  left: 1%;

}

#usuarioAvatar {

  position: relative;
  border-radius: 50%;
  right: 0.5%;
  width: 7vh;

}

#submenuUsuario {

  transition: opacity 0.2s ease;
  position: absolute;
  height: 100%;
  width: 20%;
  left: 78%;
  top: 100%;

}

#submenuUsuario.mostrar {

  transform: scaleY(1);
  opacity: 100;

}

#submenuUsuario.ocultar {

  transform: scaleY(0);
  opacity: 0;

}

.listaOpcionesUsuario {

  background-color: $color-primario;
  border: 2px solid black;
  border-radius: 2%;
  padding: 0%;

}

#nombreUsuario {

  font-weight: bold;
  margin: 0%;
  
}

#perfil {

  --background: $color-primario;

}

#cerrarSesion {

  --background: rgb(247, 59, 59);

}

.menu {

  flex-direction: row;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  width: 80%;
  left: 10%;

}

#opcionMenu {

  font-size: 3vh;

}

#opcionMenu:hover {

  border-bottom: 0.3vw solid $color-primario;
  transition: font-size 0.1s ease;
  font-weight: bold;
  font-size: 4vh;

}

#iconoDown {

  color: $color-primario;
  position: absolute;
  margin: 0 auto;
  font-size: 6vh;
  width: 100%;
  top: 85%;

}