$color-primario: rgb(50, 80, 80);
$color-secundario: rgb(30, 30, 30);

ion-header {

  height: 8%;

}

.toolbarPrincipal {

  justify-content: space-between;
  background: $color-primario;
  position: relative;
  display: flex;
  height: 100%;
  z-index: 2;
  
}

.toolbarMenu {
  
  background: $color-secundario;
  transition: bottom 0.3s ease;
  position: relative;
  bottom: 100%;
  height: 90%;
  z-index: 1;

}

.toolbarPrincipal, .toolbarMenu{

  align-items: center;
  display: flex;

}


.toolbarPrincipal:hover + .toolbarMenu, .toolbarMenu:hover {

  bottom: 0%;

}

#titulo {

  font-weight: bolder;
  position: relative;
  font-size: x-large;
  left: 1%;

}

#usuarioAvatar {

  position: relative;
  border-radius: 50%;
  right: 0.5%;
  width: 3%;

}

.listaOpcionesUsuario {

  padding: 0%;

}

.menu {

  flex-direction: row;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  width: 80%;
  left: 10%;

}

#opcionMenu {

  font-size: large;

}

#opcionMenu:hover {

  border-bottom: 1vh solid $color-primario;
  font-weight: bold;
  font-size: larger;

}

#iconoDown {

  color: $color-primario;
  font-size: xx-large;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 85%;

}