<ion-content>
  
    <div class="contenidoIzquierda">

        <p id="nombrePagina">MusiConnect</p>

        <p id="descripcion">Descripcion de los servicios</p>

        <ion-button id="botonIniciar">Empieza Ya</ion-button>

    </div>
    
    <div class="contenidoDerecha">

        <div class="difuminadoIzq"></div>
        <img id="imagenIzquierda" src="https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <img id="imagenCentral" src="https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <img id="imagenCambio" src="https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <img id="imagenDerecha" src="https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <div class="difuminadoDer"></div>

    </div>
  
  </ion-content>
  