<ion-content>
  
    <div class="contenidoIzquierda">

        <p id="nombrePagina">MusiConnect</p>

        <p id="descripcion">Descripcion de los servicios</p>

        <ion-button id="botonIniciar" (click)="irRuta('sign-up')">Empieza Ya</ion-button>

    </div>
    
    <div class="contenidoDerecha">

        <div class="difuminadoIzq"></div>
        <img id="imagenIzquierda" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        <img id="imagenCentral" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        <img id="imagenCambio" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        <img id="imagenDerecha" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        <div class="difuminadoDer"></div>

    </div>
  
  </ion-content>
  