app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;

}

.tituloPagina, .content {

    position: relative;
    color: black;

}

.tituloPagina > #titulo {

    font-weight: bolder;
    margin-bottom: 1%;
    text-align: center;
    font-size: 4.5vh;
    margin-top: 1%;

}

.content {

    background-color: white;
    height: max-content;
    margin-bottom: 1%;
    border-radius: 1%;
    width: 98%;
    left: 1%;

}

#imagenVideo {

    margin: 2% auto;
    position: relative;
    display: block;
    width: 73%;

}

#tituloVideo {

    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
    font-size: 3.5vh;
    overflow: hidden;
    margin: 1% auto;
    width: 85%;
    top: 5%;

}

.datosVideo {

    transition: all 0.5s ease;
    box-sizing: border-box;
    background: white;
    color: black;
    height: 100%;
    width: 31%;

}

.datosVideo:hover {

    transform: scale(1.1);

}

.filtros {

    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 2% auto 0% auto;
    width: 100%;
    left: 1%;

}

#selectCategoria {

    left: 3%;
 
}

#selectCategoria, #inputVideo {

    --highlight-color: rgb(50, 80, 80);
    --border-color: rgb(50, 50, 50);
    width: 20%;

}

.listaVideos {

    justify-content: space-around;
    margin: 1% auto 1% auto;
    position: relative;
    flex-wrap: wrap;
    display: flex;

}

.listaVideos::after {

    visibility: hidden;
    flex: 1 1 31%;
    content: "";

}

.reproductorVideo {

    --background: white;
    height: 80%;
    width: 97%;
    top: 19%;
    left: 1%;

}

#tituloReproductor {

    transition: opacity 0.1s ease;
    position: absolute;
    color: white;
    font-size: 5vh;
    z-index: 2;
    opacity: 1;
    width: 80%;
    left: 1%;
    top: -4%;

}

#iconoCerrar {

    transition: opacity 0.1s ease;
    position: absolute;
    color: white;
    font-size: 5vh;
    z-index: 2;
    opacity: 0;
    left: 97%;
    top: 2%;

}

#video {

    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;

}

.reproductorVideo:hover {

    #tituloReproductor {

        opacity: 0;

    }

    #iconoCerrar {

        opacity: 1;

    }

}