$color-primario: rgb(50, 80, 80);
$color-secundario: rgb(30, 30, 30);

app-header {

    position: sticky;
    height: 100%;
    z-index: 10;
    top: 0%;

}

.tituloPagina, .content {

    position: relative;
    top: 8%;

}

.tituloPagina > #titulo {

    font-weight: bolder;
    margin-bottom: 1.5%;
    text-align: center;
    font-size: 4.5vh;
    margin-top: 1%;

}

.content {

    background-color: black;
    height: max-content;
    margin-bottom: 1%;
    border-radius: 1%;
    width: 98%;
    left: 1%;

}