app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;

}

.tituloPagina, .content {

    position: relative;
    color: black;

}

.tituloPagina > #titulo {

    font-weight: bolder;
    text-align: center;
    margin-bottom: 1%;
    font-size: 4.5vh;
    margin-top: 1%;

}

.content {

    background-color: white;
    min-height: max-content;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-radius: 1%;
    height: 78%;
    width: 98%;
    left: 1%;

}

.filtros {

    flex-direction: column;
    align-items: center;
    position: fixed;
    display: flex;
    height: 79%;
    width: 30%;
    left: 68%;
    top: 19%;

}

#inputProducto, #selectCategoria {

    position: relative;
    font-weight: bold;
    width: 90%;

}

#inputProducto {

    top: 20%;

}

#selectCategoria {

    top: 30%;

}

#inputProducto > input, #selectCategoria > select {

    border: 1px solid black;

}

.datosCurso {

    border: 2px solid black;
    transition: all .5s ease;
    background: white;
    margin-bottom: 1%;
    color: black;
    width: 95%;

}

.datosProducto > .card-body {

    padding: 0%;

}

.datosCurso:hover {

    transform: scale(1.03);

}

.listaCursos {

    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    top: 1%;

}

#nombreCurso {

    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
    margin-bottom: 0%;
    font-size: 3.5vh;
    overflow: hidden;
    width: 100%;

}

#imagenCurso {

    margin-bottom: 2%;
    object-fit: cover;
    margin-top: 2%;
    width: 70%;

}

#precioCurso {

    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    margin-bottom: 0%;
    overflow: hidden;
    font-size: 3vh;
    width: 70%;

}

#iconoAdd {

    position: relative;
    font-size: 7vh;
    width: 20%;

}

.columnaImagen {

    justify-content: center;
    display: flex;

}

.columnaPrecio, .columnaNombre {

    align-items: center;
    position: relative;
    display: flex;
    width: 41%;
    left: 1%;

}

#carritoIcon {

    color: black;
    position: relative;
    font-size: 10vh;
    top: 6%;
    
}

.popoverCarrito {

    --width: 35%;

}