$color-primario: #433878;
$color-secundario: #E4B1F0;

app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;

}

.content {

    background-color: $color-secundario;
    position: relative;
    height: 92%;
    width: 100%;

}

.avatarUsuario {

    position: absolute;
    height: 90%;
    width: 36%;
    left: 2%;
    top: 5%;

}

#avatar {

    border: 0.5vh white solid;
    border-radius: 50%;
    position: absolute;

}

#cambiarImagen {

    transition: opacity 0.1s ease;
    position: absolute;
    font-size: 10vh;
    opacity: 0;
    left: 87%;
    top: 87%;

}

.avatarUsuario:hover {

    #cambiarImagen {

        opacity: 1;

    }

}

.datosUsuario {

    background-color: white;
    position: relative;
    height: 90%;
    width: 58%;
    left: 40%;
    top: 5%;

}