$color-primario: #433878;
$color-secundario: #E4B1F0;

app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;

}

.content {

    position: relative;
    height: 100%;
    width: 100%;

}

.avatarUsuario {

    position: absolute;
    height: 85%;
    width: 34%;
    left: 2%;
    top: 12%;

}

#avatar {

    border: 0.5vh white solid;
    border-radius: 50%;
    position: absolute;

}

#cambiarImagen {

    transition: opacity 0.1s ease;
    position: absolute;
    font-size: 10vh;
    opacity: 0;
    left: 87%;
    top: 87%;

}

.avatarUsuario:hover {

    #cambiarImagen {

        opacity: 1;

    }

}

.datosUsuario {

    background-color: white;
    border-radius: 1vh;
    position: relative;
    height: 85%;
    width: 58%;
    left: 40%;
    top: 12%;

}

#correoUsuario, #nombreUsuario {

    position: relative;
    font-weight: bold;
    color: black;
    font-size: 4vh;
    width: 96%;
    left: 2%;
    top: 2%;

}

#tituloPedidos {

    position: relative;
    font-weight: bold;
    color: black;
    font-size: 4vh;
    left: 2%;
    top: 5%;

}

#listaPedidos {

    position: relative;
    height: 52%;
    width: 96%;
    left: 2%;

}