$color-primario: #433878;
$color-secundario: #E4B1F0;

app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;

}

.tituloPagina, .content {

    position: relative;
    color: black;

}

.tituloPagina > #titulo {

    font-weight: bolder;
    margin-bottom: 1%;
    text-align: center;
    font-size: 4.5vh;
    margin-top: 1%;

}

.content {

    background-color: white;
    min-height: min-content;
    position: relative;
    margin-bottom: 1%;
    border-radius: 1%;
    width: 98%;
    left: 1%;
    height: 80%;

}

#listaPedidos th {

    text-align: center;
    font-size: 4vh;

}

#imagenCarrito {

    position: relative;
    width: 80%;

}

#nombreCarrito, #precioUnitarioCarrito, #precioFinalCarrito, #compraCarrito, #rentaCarrito, #cursoCarrito {

    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0%;
    overflow: hidden;
    font-size: 4vh;
    
}

.columnaDatosProducto {

    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 0%;

}

#nombreCarrito {
    
    font-weight: bold;

}

.tipoCarrito {

    flex-direction: column;
    align-items: center;
    display: flex;

}

.tipoCarrito > p {

    margin-bottom: 0%;
    font-size: 4vh;

}

.columnaEliminar {

    justify-content: center;
    align-items: center;
    display: flex;

}

#eliminarProducto {

    font-size: 6vh;

}

#botonComprar {

    background-color: $color-primario;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    color: white;
    width: 30%;
    
}

.resumenCarrito {
    
    justify-content: space-around;
    background-color: white;
    align-items: center;
    position: sticky;
    color: black;
    font-size: 4vh;
    display: flex;
    bottom: 0%;
    z-index: 1;
    
}

.totalCarrito {
    
    font-weight: bold;
    margin-bottom: 0%;

}

#totalFinal {

    font-weight: 100;

}