<ion-content>
  <app-header></app-header>
  
  <div class="tituloPagina">

    <p id="titulo">Lista del Carrito</p>

  </div>

  <div class="content">

      <div class="headerLista">
        <p id="labelDatosProducto">Datos Producto</p>
        <p id="labelPrecioTotal">Precio Total</p>
        <p id="labelTipoProducto">Tipo Producto</p>
        <p id="labelEliminar">Eliminar</p>
      </div>

      <ion-item class="datosProductoCarrito">
        <img alt="ProductoCarrito" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenCarrito"/>
        <p id="nombreCarrito">Nombre Producto</p>
        <p id="precioUnitarioCarrito">$00000.00</p>
        <p id="precioFinalCarrito">$00000.00</p>
        <div class="tipoCarrito">
          <p>C</p>
          <p>x1000</p>
        </div>
        <ion-icon name="trash" id="eliminarProducto"></ion-icon>
      </ion-item>
      <ion-item class="datosProductoCarrito">
        <img alt="ProductoCarrito" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenCarrito"/>
        <p id="nombreCarrito">Nombre Producto</p>
        <p id="precioUnitarioCarrito">$00000.00</p>
        <p id="precioFinalCarrito">$00000.00</p>
        <div class="tipoCarrito">
          <p>R</p>
          <p>4 Semanas</p>
        </div>
        <ion-icon name="trash" id="eliminarProducto"></ion-icon>
      </ion-item>
      <ion-item class="datosProductoCarrito">
        <img alt="ProductoCarrito" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenCarrito"/>
        <p id="nombreCarrito">Nombre Producto</p>
        <p id="precioUnitarioCarrito">$00000.00</p>
        <p id="precioFinalCarrito">$00000.00</p>
        <div class="tipoCarrito">
          <p>CO</p>
        </div>
        <ion-icon name="trash" id="eliminarProducto"></ion-icon>
      </ion-item>

      <div class="resumenCarrito">
        <ion-button id="botonComprar">Comprar Carrito</ion-button>
        <p class="totalCarrito">Total: <span id="totalFinal">$00000.00</span></p>
      </div>

  </div>

</ion-content>