.datosProductoCarrito {

    align-items: center;
    display: flex;
    
}

#imagenCarrito {

    border-radius: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 15%;

}

#nombreCarrito, #precioCarrito, #compraCarrito, #rentaCarrito, #cursoCarrito {

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vh;
    
}

#nombreCarrito {
    
    position: absolute;
    width: 65%;
    left: 16%;
    top: 2%;
    
}

#precioCarrito {

    position: absolute;
    width: 65%;
    bottom: 0%;
    left: 16%;

}

.tipoCarrito {

    position: relative;
    text-align: center;
    width: 15%;
    left: 70%;

}

#tipoCarrito {

    text-align: center;

}

#cantidadCompra {

    text-align: center;

}

#tiempoRenta {

    border: red 0.2vh solid;
    text-align: center;

}

.resumenCarrito {

    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    width: 96%;
    left: 2%;

}

#verCarrito {

    font-weight: bold;

}

.totalCarrito {

    text-align: right;
    font-weight: bold;
    width: 80%;

}

#totalFinal {

    font-weight: 100;

}