$color-primario: #433878;
$color-secundario: #E4B1F0;

* {

    background-color: $color-primario;

}

.listaProductos {

    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 92%;

}

.datosProductoCarrito {

    border-bottom: 1px solid black;
    border-radius: 0%;
    color: white;

}

.columnaImagen, .columnaNombre, .columnaTipo {

    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.columnaImagen {

    padding: 0%;

}

.datosProductoCarrito > .row {

    margin: 0%;

}

#nombreCarrito, #precioCarrito, #compraCarrito, #rentaCarrito, #cursoCarrito {

    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0%;
    overflow: hidden;
    font-size: 3vh;
    
}

#imagenCarrito {

    object-fit: cover;
    width: 100%;
    
}

#nombreCarrito {
    
    font-weight: bold;
    
}

#tipoCarrito, #cantidadCompra, #tiempoRenta {

    margin-bottom: 0%;

}

.tipoCarrito {

    flex-direction: column;
    align-items: center;
    display: flex;

}

#tipoCarrito {

    text-align: center;
    
}

#cantidadCompra {

    text-align: center;
 
}

#tiempoRenta {

    border: red 1px solid;
    text-align: center;
    width: 80%;
    
}

.resumenCarrito {
    
    justify-content: space-between;
    align-items: center;
    position: sticky;
    color: white;
    display: flex;
    width: 100%;
    height: 8%;

}

#verCarrito, .totalCarrito {

    margin-bottom: 0%;

}

#verCarrito {

    font-weight: bold;

}

.totalCarrito {

    text-align: right;
    font-weight: bold;
    width: 80%;

}

#totalFinal {

    font-weight: 100;

}