app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;

}

.tituloPagina, .content {

    position: relative;
    color: black;

}

.tituloPagina > #titulo {

    font-weight: bolder;
    text-align: center;
    margin-bottom: 1%;
    font-size: 4.5vh;
    margin-top: 1%;
}

.content {

    background-color: white;
    min-height: max-content;
    padding-bottom: 2%;
    border-radius: 1%;
    height: 78%;
    width: 98%;
    left: 1%;

}

#imagenProducto {

    object-fit: cover;
    width: 100%;
    height: 80%;

}

#nombreProducto {

    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
    margin-bottom: 0%;
    font-size: 3.5vh;
    overflow: hidden;

}

#precioProducto {

    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-size: 3vh;

}

.datosProducto {

    border: 1px solid black;
    transition: all .5s ease;
    margin: 0% 1% 2% 1%;
    background: white;
    flex-basis: 240px;
    color: black;
    width: 20%;

}

.datosProducto > .card-body {

    padding: 0%;

}

.datosProducto:hover {

    transform: scale(1.1);

}

.filtros {

    align-items: center;
    position: relative;
    font-size: 3.5vh;
    flex-wrap: wrap;
    display: flex;
    width: 94%;
    left: 3%;
    top: 2%;

}

#inputProducto {

    position: relative;
    font-weight: bold;
    width: 25%;

}

#selectCategoria {

    position: relative;
    font-weight: bold;
    width: 25%;
    left: 3%;

}

#selectTipo {

    position: relative;
    font-weight: bold;
    width: 25%;
    left: 6%;

}

#inputProducto > input, #selectCategoria > select, #selectTipo > select {

    border: 1px solid black;

}

.listaProductos {

    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 98%;
    left: 1%;
    top: 8%;

}

.rentaMensual, .rentaSemanal, .rentaAmbas {

    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 25%;
    display: flex;
    height: 6vh;
    width: 6vh;
    z-index: 1;
    right: 2%;
    top: 2%;

}

.rentaMensual {

    border: 0.5vh solid red;

}

.rentaSemanal {

    border: 0.5vh solid blue;

}

.rentaAmbas {

    border: 0.5vh solid green;

}

#tipoProducto {

    margin-bottom: 0%;
    color: white;
    font-size: 2vw;

}

#carritoIcon {

    color: black;
    position: relative;
    font-size: 8vh;
    left: 34%;
    
}

.popoverCarrito {

    --width: 35%;

}