app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;

}

.tituloPagina, .content {

    position: relative;
    color: black;

}

.tituloPagina > #titulo {

    font-weight: bolder;
    margin-bottom: 1%;
    text-align: center;
    font-size: 4.5vh;
    margin-top: 1%;

}

.content {

    background-color: white;
    height: max-content;
    margin-bottom: 1%;
    border-radius: 1%;
    width: 98%;
    left: 1%;

}
#imagenProducto {

    margin: 5% auto 3% auto;
    position: relative;
    display: block;
    width: 85%;

}

#nombreProducto {

    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
    font-size: 3.5vh;
    overflow: hidden;
    margin: 1% auto;
    width: 85%;
    top: 5%;

}

#precioProducto {

    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-size: 3vh;
    margin: 2% auto;
    width: 85%;
    top: 5%;

}

.datosProducto {

    transition: all 0.5s ease;
    box-sizing: border-box;
    background: white;
    color: black;
    height: 100%;
    width: 23%;

}

.datosProducto:hover {

    transform: scale(1.1);

}

.filtros {

    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 2% auto 0% auto;
    width: 100%;
    left: 1%;

}

#selectCategoria {

    left: 3%;
 
}

#selectTipo {

    left: 6%;

}

#selectCategoria, #inputProducto, #selectTipo {

    --highlight-color: rgb(50, 80, 80);
    --border-color: rgb(50, 50, 50);
    width: 20%;

}

.listaProductos {

    justify-content: space-around;
    margin: 1% auto 1% auto;
    position: relative;
    flex-wrap: wrap;
    display: flex;

}

.listaProductos::after {

    visibility: hidden;
    flex: 1 1 23%;
    content: "";

}

.rentaMensual, .rentaSemanal {

    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 25%;
    display: flex;
    height: 6vh;
    width: 6vh;
    z-index: 1;
    right: 9%;
    top: 6%;

}

.rentaMensual {

    border: 0.5vh solid red;

}

.rentaSemanal {

    border: 0.5vh solid blue;

}

#tipoProducto {

    color: white;
    font-size: 2vw;

}

#carritoIcon {

    color: black;
    position: relative;
    font-size: 8vh;
    left: 34%;
    
}

.popoverCarrito {

    --width: 35%;

}