<app-header></app-header>

<ion-content>
  
  <div class="tituloPagina">

    <p id="titulo">RENTA</p>

  </div>

  <div class="content">
    
    <div class="filtros">

      <div id="inputProducto" class="input lg-3">
        <label for="inputProducto" class="form-label">Busqueda</label>
        <input type="text" class="form-control" placeholder="Busqueda" aria-label="Busqueda" aria-describedby="basic-addon1">
      </div>

      <div id="selectCategoria" class="input lg-3">
        <label for="inputProducto" class="form-label">Categoria</label>
        <select class="form-select" aria-label="Categoria" label="Categoria">
          <option selected value="Todos">Todos</option>
          <option value="opcion1">Opcion 1</option>
        </select>
      </div>
      
      <div  id="selectTipo" class="input lg-3">
        <label for="selectTipo" class="form-label">Tipo Renta</label>
        <select class="form-select" aria-label="Tipo Renta" label="Tipo Renta">
          <option selected value="Todos">Todos</option>
          <option value="opcion1">Opcion 1</option>
        </select>
      </div>
      
      <ion-icon name="cart" id="carritoIcon" (click)="cambiarEstadoCarrito()"></ion-icon>
      
    </div>

    <div id="popoverCarrito" [ngClass]="{'mostrar': estadoCarrito, 'ocultar': !estadoCarrito}">
      <app-carrito></app-carrito>
    </div>

    <div class="listaProductos">

      <div class="card datosProducto">
        <div class="rentaMensual">
          <p id="tipoProducto">M</p>
        </div>
        <img alt="Producto" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenProducto"/>
        <div class="card-body">
          <p id="nombreProducto">NOMBRE PRODUCTO</p>
          <p id="precioProducto">$00000.00 por mes</p>
        </div>
      </div>

      <div class="card datosProducto">
        <div class="rentaSemanal">
          <p id="tipoProducto">S</p>
        </div>
        <img alt="Producto" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenProducto"/>
        <div class="card-body">
          <p id="nombreProducto">NOMBRE PRODUCTO</p>
          <p id="precioProducto">$00000.00 por semana</p>
        </div>
      </div>

      <div class="card datosProducto">
        <div class="rentaAmbas">
          <p id="tipoProducto">A</p>
        </div>
        <img alt="Producto" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenProducto"/>
        <div class="card-body">
          <p id="nombreProducto">NOMBRE PRODUCTO</p>
          <p id="precioProducto">$00000.00 por semana</p>
        </div>
      </div>

      <div class="card datosProducto">
        <div class="rentaSemanal">
          <p id="tipoProducto">S</p>
        </div>
        <img alt="Producto" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenProducto"/>
        <div class="card-body">
          <p id="nombreProducto">NOMBRE PRODUCTO</p>
          <p id="precioProducto">$00000.00 por semana</p>
        </div>
      </div>

      <div class="card datosProducto">
        <div class="rentaSemanal">
          <p id="tipoProducto">S</p>
        </div>
        <img alt="Producto" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenProducto"/>
        <div class="card-body">
          <p id="nombreProducto">NOMBRE PRODUCTO</p>
          <p id="precioProducto">$00000.00 por semana</p>
        </div>
      </div>

    </div>

  </div>

</ion-content>
